/* index.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212; /* Dark background */
    color: #ffffff; /* Light text */
}

.app-container {
  display: flex;
  height: 100vh;
}

.app-header, footer {
    background-color: #212121;
    padding: 20px;
    text-align: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.input-box {
    margin-top: 20px;
}

.input, .btn {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
}

.input {
    width: 200px;
}

.btn {
    background-color: #6200ea; /* A vibrant color for buttons */
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #3700b3;
}

.result {
    margin: 20px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #00c853; /* Success color */
}
