.sidebar {
    width: 240px;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it covers the viewport height at a minimum */
    height: auto; 
}

nav a {
    color: white; 
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

nav a:hover {
    background-color: #555; 
}

.sidebar-section {
    margin-bottom: 20px;
}

.sidebar-label-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;

}

.sidebar-labels {
    font-size: 17px;
    margin-top: 25px;
    font-weight: bold;

}

.sidebar-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #444;  
    color: white; 
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #555; 
}
