.network-stats {
  position: fixed;
  width: 80%;
  bottom: 0;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333; /* Replace with the value of $dark-static */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Replace with the value of $shadow-2 */
  backdrop-filter: blur(2px); /* Replace with the value of $blur-2 */
  mix-blend-mode: luminosity;
  font-size: 14px; /* Replace with the value of $fz-sm */
  font-weight: 600; /* Replace with the value of $fw-semi-bold */
  color: #fff; /* Replace with the value of $white */
}

.network-stats__left {
  margin-left: 24px; 
}

.network-stats__right {
  margin-right: 32px; 
  display: flex;
  align-items: center;
}

.network-stats__item:not(:last-child) {
  margin-right: 16px; /* Replace with the value of $padding-xl */
}

.network-stats__address {
  user-select: text;
}
